body {
  /* background-image: url('/img/iron-throne.jpg');
  background-repeat: no-repeat;
  background-position: center; */
  background-color:peru;
  width: 1000px;
}

body {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  font-size: 5em;
  text-align: center;
  text-decoration: underline;
  color: whitesmoke;
  padding: 5px;
  margin: 10px;
}

h3 {
  font-size: 2.5em;
  text-align: center;
  color: whitesmoke;
  padding: 5px;
  margin: 10px;
}

h4 {
  font-size: 2.15em;
  text-align: center;
  color: whitesmoke;
  padding: 5px;
  margin: 10px;
  text-decoration: underline;
}

h5 {
  font-size: 1.75em;
  text-align: left;
  color: whitesmoke;
  padding: 5px;
  margin: 10px;
  text-align: center;

}

p {
  font-size: 1em;
  text-align: left;
  color: white;
  margin: 5px;
  text-align: center;
}

ul {
  list-style: disc;
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

ul li {
  color: blue;
  list-style-position: inside;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
}

ol {
  list-style: decimal;
  margin: 20px;
  padding: 20px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}

ol li {
  color: blue;
  list-style-position: inside;
  text-align: left;
  text-decoration: none;
  font-weight: normal;
}

footer {
  color: burlywood;
  text-align: center;
  margin: 20px;
  border: 2px solid black;
}

footer p {
  color: burlywood;
  text-align: center;
  font-weight: bold;
}

div {
  display: inline-block;
}

#closer {
  text-align: center;
  text-decoration: none;
  font-size: 0.3em;
}

#score {
  font-size: 2em;
  font-weight: bold;
  color: green;
  background-color: yellow;
}

.about_me {
  border: 2px solid black;
  margin: 25px;
  padding: 10px;
}

.allLists {
  display: inline-block;
  border: 2px solid black;
  margin: 25px;
  padding: 10px;

}

.allLists h4 {
  width: 1000px;
  height: 50px;
  text-align: center;
}

.allLists ul {
  width: 250px;
  height: 200px;
  display: inherit;
  vertical-align: text-top;
  border: 2px dotted blue;
}

.allLists ol {
  width: 250px;
  height: 200px;
  display: inherit;
  vertical-align: text-top;
  border: 2px dotted blue;
}

.questions_answers {
  border: 2px solid black;
}

.answer {
  color: green;
}

.guess {
  color: rgb(113, 19, 175);
}